<article id="template">
  <span class="title">{{title}}</span>
  <div class="info">
    By <a href="{{authorURL}}" class="authorUrl"><span class="author">{{author}}</span></a>, published about {{daysAgo}} days ago.<br />
    Category: <span class="category">{{category}}</span>
  </div>
  <span class="body">{{{body}}}</span>
  <a href="#" class="readMore">Show More/Less</a>
  <!-- Commenting out read less button until functionality is working correctly -->
  <!-- <a href="#" class="readLess">Read less</a> -->
  <hr>
</article>
