body {
  font-family: helvetica, sans-serif;
  color: #313539;
  background-color: #FFFFFF;
  margin:0;
}

a {
  text-decoration: none;
}

nav {
  padding: 0 auto 0 auto;
}

header {
  background: rgba(0, 0, 0, .9);
  /*background: gray;*/
  color: #53D5D5;
  /*margin-bottom: 2em;*/
  /*padding-left: 4em;*/
  /*padding-right: 4em;*/
  /*padding-top: .25em;*/
  /*padding-bottom: .25em;*/
  width: 100%;
  border-bottom: #46C0C6 6px solid;
  /*line-height: 85px;*/
  font-family: 'Fjalla One', sans-serif;
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
}

header {
    /*margin: 0 auto 0 auto;*/
    /*width: 80%;*/
}

.header-wrapper {
  height: 85px;
  width: 80%;
}

main {
  background-color: #FFFFFF;
  /*padding: 0px 20px 0px 20px;*/
  width:
}

section {
  /*padding: 2em;*/
  width: 100%
  margin: 0 auto 0 auto;
  padding-top: 2em;
}

article {
  width: 100%
}

article img {
  display: block;
  max-width: 100%;
  margin: 1em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  color: #46C0C6;
  font-weight: bold;
  text-shadow: -1.5px 1px #313539;
  margin-top: .5em;
}

.info {
  color: gray;
  /*font-style: oblique;*/
  margin-top: -10px;
  margin-bottom: 10px;
}

form {
  /*margin-right: 2em;*/
  /*width: 0%*/
  margin-bottom: 10px;
  display: inline;
  padding-right: 20px;
}

select {
  width: 40%;
  margin-top: .75em;
}

/*hr {
  height: 2px;
}*/

.logo-img {
  height: 75px;
  /*margin-top: 2em;
  margin-bottom: 2em;*/
  /*min-width: 70px;*/
  /*position: absolute;
  top: 5px;
  left: 20px;*/
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.hamburger {
  position: absolute;
  top:30px;
  right:0;
  line-height:45px;
  padding: 0px 15px 0px 15px;
  color: orange;
  cursor: pointer;
  z-index: 100000000000;
}

.cross {
  display: none;
  position: absolute;
  top:30px;
  right:15px;
  line-height:45px;
  padding: 0px 15px 0px 15px;
  color: orange;
  cursor: pointer;
  z-index: 100000000000;
}

.menu {
  display: none;
  z-index: 100000;
  font-weight: bold;
  font-size: 1.8em;
  width: 100%;
  background: #131313;
  position: absolute;
  text-align: center;
  margin-top: 1px;
}

.menu ul {
  display: block;
  margin: 0;
  padding: 0
  list-style-type: none;
  list-style-image: none;
  /*width: 100%;*/
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: white 1px solid;
}

.menu li:hover {
  display: block;
  background: #1d1f20;
  padding: 15px 0 15px 0;
  border-bottom: white 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: white;
}

.menu ul li a:hover {
  color: white;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 620px) {
  header {
      margin: 0 auto 0 auto;
      /*width: 80%;*/
      padding-left: 10%;
      padding-right: 10%;
  }

  .hamburger {
    display: none;
  }
  .cross {
    display: none;
  }
  .menu {
    display: inline;
    width: 280px;
    /*position: absolute;
    right: 50px;
    width: 30%;*/
    padding-top: 30px;
  }
  .menu ul {
    /*display: block;*/
    /*position: absolute;*/
    /*right: 300px;*/
    top: 0;
  }
  .menu li {
    display: inline;
    /*position: absolute;*/
    /*margin: 20px;*/
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    text-align: left;
    /*border: white 2px solid;*/
    height: 75px;
  }
  .menu li:hover {
    display: inline;
    background: #orange;
    padding: 0px 40px 0 40px;
    /*border-bottom: white 1px solid;*/
    /*border-left: white 1px solid;
    border-right: white 1px solid;*/
    border: none;
  }
  .menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: white;
  }

  .menu ul li a:hover {
    color: orange;
    text-decoration: none;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

  .menu a:hover {
    text-decoration: none;
    color: orange;
  }

  .logo-img {
    height: 75px;
    /*margin-top: 2em;
    margin-bottom: 2em;*/
    /*min-width: 70px;*/
    /*position: absolute;
    top: 5px;
    left: 20px;*/
    padding-right: 40px;
    padding-left: 0px;
  }
}
